body {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: #444;
  background: #fff;
}

.cat {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 30px;
}

button.example {
  background: red;
  color: white;
  font-size: 30px;
  padding: 1rem;
  margin: 1rem;
}

.email,
.check {
  font-size: 20px;
}

.check {
  background: lightgreen;
}
