doctype html
html
  head
    link(rel="stylesheet" href="../style/style.css")
    script(src="script.js")
  body
    h1.test
    h1.test
    h1.test
    h1.test
    h1.test
    h1.test
    h1.test
    h1.test
    h1.test
