doctype html
html
  head
    link(rel="stylesheet" href="./style/style.css")
  body
    h1 JS Lesson 101
    ol
      li
        a(href="./prototype1/") Prototype lesson 1
      li
        a(href="./prototype2/") Prorotype lesson 2
      li
        a(href="./prototype3/") Prorotype lesson 3
      li
        a(href="./events_dom") Events and DOM manipulation
      li
        a(href="./arrays/") Arrays
      li
        a(href="./bolean_conditionals/") Booleans and Conditionals
      li
        a(href="./recursion/") Recursions
      li
        a(href="./this_variables_functions/") This Variables and Functions
      li
        a(href="./regex/") Regular Expressions in JS



